<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamosiris.liquorrush">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:theme="@style/CustomSpinner" />
        <activity android:name=".LoggedIn" />
        <activity
            android:name=".Cart"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".EmployeeLogin"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".AdminLoggedIn" />
        <activity android:name=".ProductDescription" />
        <activity android:name=".Payment" />
        <activity android:name=".TrackOrder" />
        <activity android:name=".TrackOrders" />
        <activity android:name=".OrderDescription" />
        <activity android:name=".FulfillmentClerk" />
        <activity android:name=".DeliveryClerk" />
        <activity android:name=".Fulfillment" />
        <activity android:name=".Delivery"></activity>
    </application>

</manifest>